extends layout
block content
    .text-center
        header
            .row
                .col
                    h1.h2= 'aaa'
                    br

        .row
            .col(style='background-color: #FFFBF0;')
                .row
                    br
                .row
                    .col
                        img(src='/images/VECTOR-STAY-HOME 4.png')
                .row
                    .col
                        br
                        img(src='/images/Edu..png')
            .col
                h1.h2= `aaa`