extends layout
block content
    br/br/br
    h1.h1= title
    br/br
    div(class="container")
        input.form-control.form-control-lg(style="width:350px", name='username', type='email', placeholder='Usuario', autofocus='True')
        br
        input.form-control.form-control-lg(style="width:350px", name='password', type='password', placeholder='Contraseña')
        br
        .col
            input#checkBox.form-check-input(type='checkbox')
            label.form-check-label(for='checkBox') Check me out
        br
        a.button.btn.btn-primary.btn-lg(style="width:350px", type='button', href='/home') Iniciar Sesión
        br/br
        b
            img(src='/images/facebook.png')
            | &nbsp; &nbsp;
            img(src='/images/twitter.png')
            | &nbsp; &nbsp;
            img(src='/images/google.png')