extends layout

block content
    .row
        .col
            br/br
            h1.h1= title
            br
            p Selecciona uno de los formularios para acceder a nuestro portal.
            br
    .row
        .col
            b
                img(src='/images/eresPersona.png')
                | &nbsp; &nbsp;
                img(src='/images/eresRestaurante.png')
                | &nbsp; &nbsp;
                img(src='/images/eresArtista.png')
    br
    .row
        .col-md-8
            .text-center
                a.button.btn.btn-primary.btn-lg.btn-block(type='button', href='/login') Continuar
